
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Radio+Canada:wght@300&display=swap');

body {
    background-color:white;
    font-family: "Radio Canada", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color:white ;
}

header {
    background-color:#07742d ;
}

#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color:#23f0c7;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color:#3587a4;
    color: white;
}

main section {
    text-align: center;

}
main section img {
    box-sizing: border-box;
}

#hero img {
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-msg .button-box a {
    background-color:#3587a4 ;
}

.home-title {
    color:#3587a4;
    font-family: "Libre Bodoni";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:#3587a4 ;
}

.book, .join {
    background-color: #3587a4;
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card {  
    margin: 200px 0;
}
.book:hover, .join:hover {
    color:white ;
}

.msg h2 {
    font-family: "Libre Bodoni";
    color:#23f0c7;
}

.msg p {
    color:#23f0c7 ;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#3587a4;
    margin-bottom: 100px;
}

.msg {
    background-color:#07742d;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}
footer {
    background-color:#07742d;
    padding: 25px 50px;
    margin-top: 200px;
    margin-bottom: 200px;
}
footer .social img{
    padding-top: 15px;
}

footer h3 {
    color:#23f0c7 ;
}

footer h3 a:hover {
    color:white ;
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color:#23f0c7 ;
    
}

footer a:hover {
    color:white ;
    
}