
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Radio+Canada:wght@300&display=swap');

body {
    background-color:white;
    font-family: "Radio Canada", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color:white ;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#07742d9c ;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    z-index: 1;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color:#23f0c7;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color:#3587a4;
    color: white;
}

main section {
    text-align: center;

}
main section img {
    box-sizing: border-box;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    z-index: -1;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    
}


#hero img {
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-msg h4 {
    color: white;
}

#hero-msg .button-box a {
    background-color:#3587a4 ;
}

.home-title {
    color:#3587a4;
    font-family: "Libre Bodoni";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:#3587a4 ;
}

.book, .join {
    background-color: #3587a4;
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

#background{
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card, .camping-card, .rapids-card {  
    margin: 200px 0;
}
.book:hover, .join:hover {
    color:white ;
}

.msg h2 {
    font-family: "Libre Bodoni";
    color:#23f0c7;
}

.msg p {
    color:#23f0c7 ;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#3587a4;
    margin-bottom: 100px;
}

.msg {
    background-color:#07742d;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}
footer {
    background-color:#07742d;
    padding: 25px 50px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img{
    padding-top: 15px;
}

footer h3 {
    color:#23f0c7 ;
}

footer h3 a:hover {
    color:white ;
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color:#23f0c7 ;
    
}

footer a:hover {
    color:white ;    
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}